<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lithium.easyclean">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyClean">
        <activity android:name=".mainPackage.dashboard.UserDashboardActivity"></activity>
        <activity android:name=".mainPackage.dashboard.CleanerDashboardActivity" />
        <activity android:name=".mainPackage.dashboard.AdminDashboardActivity" />
        <activity android:name=".mainPackage.start.EnterPasswordActivity" />
        <activity android:name=".mainPackage.dashboard.DashboardActivity" />
        <activity android:name=".mainPackage.start.SignUpActivity" />
        <activity android:name=".mainPackage.start.EnterEmailActivity" />
        <activity android:name=".mainPackage.start.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainPackage.start.MainActivity" />
    </application>

</manifest>